@page { margin: 8% }

#contact,.cookie,form,footer,.fleche{
    display: none;
}

#top,#competences,#diplome,#experience,#projetInfo,#projetDiv,#contact{
    min-height: 0;
}

#competences div .col-md-3{
    margin: 10px;
}

#diplome div>.col-md-12{
    margin: 0;
}

.description{
   opacity: 1;
   position: static;
   font-size: 20px;
}

#projetInfo>div>div+div>div>div{
    width: 360px;
}

.mosaique{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.mosaique img {
    display: none;
}

#projetInfo{
    margin-bottom: 250px;
}

#experience{
    margin-bottom: 70px;
}

#experience>div>div+div>div div>p{
    font-size: 20px;
}

.titre{
    margin-top: 20px;
    font-size: 13px;
    margin-bottom: 0;
}