/*------------Ecran "SMARTPHONE"------------ */

@media (max-width: 420px) {
    div#top, div#competences, div#contact {
        min-width: 100vw;
        min-height: 100vh;
    }
    div#top {
        margin-top: 3.5em;
    }
    div.intro {
        font-size: 1em;
    }
    div.titre {
        text-align: center;
    }
    img.fleche {
        width: 3em;
        animation: battementMobile 3s infinite
    }
    @keyframes battementMobile {
        25% {
            width: 5em;
        }
        50% {
            width: 2em;
        }
        75% {
            width: 4em;
        }
        90% {
            width: 2em;
        }
    }
    div#diplome>div .col-md-12 {
        margin-top: 0;
    }
    div#contact {
        margin-top: 2em;
    }
    div.France {
        margin-bottom: 1em;
    }
    div.Canada {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    div h1 {
        margin-top: 0em;
        font-size: 2em;
    }
    div>h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.3em;
    }
    div>img {
        width: 150px;
    }
    div+div>form>input {
        width: 17em;
    }
    form textarea {
        width: 17em;
        height: 7em;
    }
    div.cookie {
        height: 13vh;
        bottom: 5vh;
        font-size: 1em;
        animation: deplacementCookieMobile 1s linear
    }
    @keyframes deplacementCookieMobile {
        0% {
            bottom: -13vh;
        }
        33% {
            bottom: -6vh;
        }
        66% {
            bottom: 1vh;
        }
        100% {
            bottom: 5vh;
        }
    }
    div>form {
        width: 88vw;
        padding: 0.5em;
    }
    div>form>div>img {
        display: none;
    }
    div.mosaique div>img {
        width: 80vw;
    }
    div.mosaique div:hover img {
        width: 85vw;
    }
    div.description {
        width: 85vw;
    }
    div#projetDiv>div div>.mosaique div>img {
        width: 85vw;
    }
    div#projetDiv>div div>.mosaique div:hover img {
        width: 90vw;
    }
    div#projetDiv>div div>.mosaique div>div.description {
        width: 90vw;
    }
}

/*------------Ecran "TABLETTE"------------ */

@media (max-width: 900px) {
    h1 {
        text-align: center;
    }
    div.col-md-3 {
        min-width: 35%;
        margin: 30px;
    }
    div#projetDiv>div>div+div>div>div {
        width: 80vw;
    }
    div#projetDiv>div div>.mosaique div>img {
        width: 80vw;
    }
    div#projetDiv>div div>.mosaique div:hover img {
        width: 85vw;
    }
}

/*------------DESKTOP------------ */

html {
    scroll-behavior: smooth;
}

body {
    background: #2f2f2f;
}

/*-HEADER-*/

body header nav.navbar {
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: 10px 5px 5px black
}

ul {
    list-style: none;
    margin-bottom: 0em;
}

li a:hover {
    color: greenyellow!important;
}

header+div {
    margin-top: 5em;
}

a[href$="pdf"]::after {
    content: " ( " attr(title) " )";
}

/*-COOKIE-*/

.cookie {
    position: fixed;
    z-index: 1000;
    bottom: 8vh;
    width: 100vw;
    height: 13vh;
    background: rgba(0, 0, 0, 0.479);
    box-shadow: 1px 2px 10px greenyellow;
    font-family: 'Code-Bold';
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px 2px black;
    animation: deplacementCookie 1s linear
}

@keyframes deplacementCookie {
    0% {
        bottom: -13vh;
    }
    33% {
        bottom: -6vh;
    }
    66% {
        bottom: 1vh;
    }
    100% {
        bottom: 8vh;
    }
}

.fermer {
    border: 1px solid goldenrod;
    background: black;
    color: white;
}

.fermer:hover {
    color: red;
}

/*-IMAGES-*/

.fleche {
    width: 5em;
    animation: battement 3s infinite
}

@keyframes battement {
    0% {
        width: 5em;
    }
    25% {
        width: 6em;
    }
    50% {
        width: 4em;
    }
    75% {
        width: 6em;
    }
}

a img {
    width: 2.5em;
}

.mosaique div>img {
    width: 430px;
    transition: all 0.5s linear;
}

.mosaique div:hover img {
    width: 440px;
    box-shadow: 15px -10px 12px 3px greenyellow;
    border: 2px solid goldenrod;
    border-radius: 10px 10px;
}

#projetDiv>div div>.mosaique div>img {
    width: 800px;
}

#projetDiv>div div>.mosaique div:hover img {
    width: 850px;
}

form div>img {
    width: 5em;
    margin-bottom: 2em;
}

header+div>img {
    margin-top: 5em;
}

/*-TITRE-*/

h1 {
    font-size: 5em;
    font-family: 'Code-Bold';
    color: white;
    text-shadow: 2px 2px 2px black;
}

h2 {
    font-size: 3.5em;
    font-family: 'Code-Bold';
    color: white;
    text-shadow: 2px 2px 2px black;
}

h3 {
    font-family: 'Code-Bold', 'Arial';
}

.titre {
    margin-bottom: 5vh;
}

/*-ACCUEIL-*/

.intro {
    font-size: 1.40em;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

/*-CORPS-*/

.col-md-3 {
    margin: 3em;
    font-size: 1.20em;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    transition: all 0.3s ease-in;
}

.col-md-3:hover {
    color: red;
    border: 1px solid goldenrod;
    border-radius: 10px 10px;
    padding: 1em;
    box-shadow: 15px -10px 12px 3px greenyellow;
    background: rgba(0, 0, 0, 0.411);
}

#diplome>div .col-md-12 {
    margin-top: 20vh;
    margin-bottom: 2vh;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

div#diplome>div .col-md-12>p {
    font-size: 2em;
}

div#diplome>div .col-md-12>p+p {
    font-size: 1.4em;
}

#experience {
    text-align: center;
}

hr {
    background-color: white;
    height: 0.1em;
    width: 50vw;
}

.France {
    margin-bottom: 3em;
}

#top {
    background-image: url('img/FondAccueil.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

#top, #competences, #diplome, #experience, #projetInfo, #projetDiv, #contact {
    min-height: 100vh;
}

#competences, #diplome, #experience, #projetInfo, #projetDiv {
    color: white;
    padding-top: 8vh;
    background-image: url('img/FondCorps.webp');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 11px 3px greenyellow;
}

#contact {
    display: flex;
    align-items: center;
}

#top>div:last-of-type {
    height: 5em;
}

.mosaique {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
    align-content: center;
}

.mosaique>div {
    position: relative;
    margin: 15px;
}

.description {
    width: 440px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.589);
    color: white;
    transition: all 1s linear;
}

.mosaique div:hover .description {
    opacity: 1;
    padding: 1em;
}

#projetDiv>div div>.mosaique div>div.description {
    width: 850px;
}

/*-FORMULAIRE-*/

form h3 {
    display: flex;
    justify-content: center;
}

p, label {
    margin-bottom: 1px;
}

div>form>input {
    width: 30em;
}

form {
    border: 2px solid black;
    padding: 2em;
    background: white;
    box-shadow: 1px 2px 10px greenyellow;
}

form div>input {
    margin-top: 1em;
    color: white;
    width: 5em;
    height: 2.5em;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(70, 135, 155), rgb(38, 73, 83));
}

form>p:last-of-type {
    color: red;
}

textarea {
    height: 10em;
    width: 30em;
}

[required]+span:after {
    content: "*";
    color: red;
}

p+input {
    border-right: 4px solid red;
    margin-bottom: 8px;
}

p+input:valid {
    border-right: 4px solid green;
}

/*-FOOTER-*/

footer {
    width: 100vw;
    height: 10vh;
    background: rgba(0, 0, 0, 0.445);
    box-shadow: 15px -5px 12px 3px greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: goldenrod;
}

a:hover {
    color: rgb(250, 220, 48);
}