body{
    background-image:url('img/FondAccueil.webp');
    background-size: cover;
    background-repeat:no-repeat;
    color: white;
}


a{
    color: goldenrod;
}

a:hover{
    color: rgb(250, 220, 53);
}

div{
    border: 1px solid goldenrod;
    background: rgba(0, 0, 0, 0.418);
    border-radius: 5px 5px;
    padding: 10px;
    margin-bottom: 20px;
}