
@font-face {
  font-family: 'Code-Light';
  src: url('Code-Light.eot?#iefix') format('embedded-opentype'),  url('Code-Light.otf')  format('opentype'),
	     url('Code-Light.woff') format('woff'), url('Code-Light.ttf')  format('truetype'), url('Code-Light.svg#Code-Light') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
