
@font-face {
  font-family: 'Code-Bold';
  src: url('Code-Bold.eot?#iefix') format('embedded-opentype'),  url('Code-Bold.otf')  format('opentype'),
	     url('Code-Bold.woff') format('woff'), url('Code-Bold.ttf')  format('truetype'), url('Code-Bold.svg#Code-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
